<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {include file="common/css"}
    <title>thinkphp-dome</title>
</head>
<body>
    <!-- nav -->
    <!-- loging & register  -->
    {include file="common/nav,common/reglogin"}
    


  <!-- mainText -->
  <div class="container">
    <div class="jumbotron my-4">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <ul>
            <li>上传头像功能</li>
            <li>策划权限系统</li>
            <li>发帖功能</li>
            <li></li>
        </ul>
        <a class="btn btn-primary btn-lg" href="#" role="button">Just Do It</a>
      </div>
  </div>
  


    <!-- footer -->
    {include file="common/footer"}
    {include file="common/js"}
    <script src="__JS__/index.js"></script>
    <script>
        $(document).ready(function(){
            logined()
            $("#index-page").addClass("active")
        })
    </script>
    
</body>

</html>