<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {include file="common/css"}
    <title>thinkphp-dome</title>
</head>
<body>
    <!-- nav -->
    {include file="common/nav"}
    <!-- loging & register  -->
    {include file="common/reglogin"}


  <!-- mainText -->
  <div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">欢迎访问!</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        <p>学生信息管理系统</p>
    </div>
    </div>


    <!-- footer -->
    {include file="common/footer"}
    {include file="common/js"}

    <script>
        $(document).ready(function(){
            logined()
        })
    </script>
    
</body>

</html>