<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link href="__CSS__/bootstrap.css" rel="stylesheet">
    <title>thinkphp-dome</title>
</head>
<body>
    <!-- nav -->
    {include file="common/nav"}
    <!-- loging & register  -->
    {include file="common/reglogin"}


  <!-- mainText -->
  <div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <a id="test" class="btn btn-primary btn-lg" href="#" role="button" >Learn more</a>
        <p>TODO</p>
        <ul>
            <li>注册登录后的内容, 个人页面</li>
            <li>登录框, 登录成功后才关闭</li>
        </ul>
        <img src="https://i.loli.net/2020/04/09/wuZVKqejoP7DBUt.png" style="width:50px">
    </div>
    </div>


    <!-- footer -->
    {include file="common/footer"}
    <script src="__JS__/jquery-3.4.1.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/main.js"></script>

    <script>
        $(document).ready(function(){
            logined();


        })
    </script>
    
</body>

</html>