<!DOCTYPE html>
{extend name="common/userinfo"}
{block name="content"}
<form class="form-horizontal" action="{:url('Rbac/authedit')}" method="POST">
  {volist name='auth' id='vo'}
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">权限名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="auth_name" value="{$vo.auth_name}">
    </div>
    <label for="firstname" class="col-sm-2 control-label">控制器名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="auth_c" value="{$vo.auth_c}">
    </div>
    <label for="firstname" class="col-sm-2 control-label">方法名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="auth_a" value="{$vo.auth_a}">
    </div>
  </div>
  {/volist}
  <input type="text" name="id" style="display: none;" value="{$id}">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">提交</button>
      <a class="btn btn-primary" href="{:url('Rbac/auth')}">返回</a>
    </div>
  </div>
</form>

{/block}