<!DOCTYPE html>
{extend name="common/userinfo"}
{block name="content"}

<table class="table table-hover table-bordered table-list">
    <thead>
    <tr>
        <th width="40">ID</th>
        <th align="left">角色名</th>
        <th width="200">权限ID</th>
        <th width="200">操作</th>

    </tr>
    </thead>
    <tbody>
    <foreach>
        {volist name='rbac' id='vo'}
        <tr>
            <td>{$vo.role_id}</td>
            <td>{$vo.role_name}</td>
            <td>{$vo.role_auth_ids}</td>
            <td>
                <a href="{:url('Rbac/roleedit',array('role_id'=>$vo['role_id']))}">修改权限</a>
                <a class="js-ajax-delete" href="{:url('Rbac/roledelete',array('role_id'=>$vo['role_id']))}">删除</a>
            </td>
        </tr>
        {/volist}
    </foreach>
    </tbody>
    
</table>
<div class="container py-2">
    <a class="btn btn-primary" role="button" href="{:url('Rbac/add',array('role_id'=>$vo['role_id']))}">添加权限</a>
</div>
{/block}