<!DOCTYPE html>
{extend name="common/userinfo"}
{block name="content"}

<table class="table table-hover table-bordered table-list">
    <thead>
    <tr>
        <th width="40">ID</th>
        <th align="left">用户名</th>
        <th width="100">权限ID</th>
        <th width="200">操作</th>

    </tr>
    </thead>
    <tbody>
    <foreach>
        {volist name='user' id='vo'}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.username}</td>
            <td>{$vo.role_id}</td>
            <td>
                {if condition="$vo['role_id'] eq 1"}
                    <font color="#cccccc">权限变更</font>
                    <font color="#cccccc">删除</font>
                    {else /}
                    <a href="{:url('Rbac/edit',array('id'=>$vo['id']))}">权限变更</a>
                    <a class="js-ajax-delete" href="{:url('Rbac/userdelete',array('id'=>$vo['id']))}">删除</a>
                {/if}
            </td>
        </tr>
        {/volist}
    </foreach>
    </tbody>
    
</table>
<div class="container py-2">
    {$user->render()}
</div>

{/block}